.display-monitor {
  width: 400px;
  height: 500px;
  background: #fdfdfd;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
